.donation-screen-background-container {
  background-image: url(BoyPic.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.donation-screen-Form {
  background-color: white;
  padding: 2em 3em 0em 3em;
  border-radius: 0.1em;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  min-height: 100vh;
}

.donation-screen-Form label {
  font-size: 1.5em;
  font-weight: bold;
  color: #7b458a;
  margin-bottom: 1em;
}

.donation-screen-Form small {
  font-size: 1.1em;
  color: #888;
  margin-bottom: 1em;
  display: block;
}

.donation-screen-Form input {
  width: 80%;
  display: block;
  color: rgb(0, 0, 0);
  border-radius: 0.4em;
  padding: 1.4em 1em 1.4em 0.4em;
  font-size: 1em;
  margin-bottom: 0.6em;
  margin-top: 1em;
  font-style: italic;
}

.donation-screen-Form input:focus {
  background-color: #c6c6c6;
}

.donation-screen-Form input:hover {
  background-color: #c6c6c6;
}

.donation-screen-Form input::placeholder {
  color: #bcbbbb;
}
.donation-screen-date #date {
  display: inline;
  width: 38%;
}

.donation-screen-Form input[type="submit"] {
  background-color: #7b458a;
  color: white;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 9em;
  width: 80%;
  margin-top: 0.6em;
  margin-right: auto;
  border: none;
}

.donation-screen-Form input[type="submit"]:hover {
  color: rgb(0, 0, 0);
}

@media (max-width: 48em) {
  .donation-screen-Form {
    width: 100%;
    padding: 2em;
  }
}
