h1{
  font-family: "Lucida Console", "Courier New",monospace;
    font-size:25px;
    width:max-content;
    margin:auto;
    padding-top:50px ;
}
div{
    border-radius:10px;
    padding-top: 30px;
    border:solid;
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%); 
        text-align: center;
      height:400px;
      width:300px;
    
}
.circle-input {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 50%; 
    border: 2px solid rgb(215, 153, 207); 
    
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
  }
section{
margin-top: 60px;;

}
button{
    font-size:25px; 
    font-family: Arial, sans-serif;
    margin-top:70px;
    background-color:#dac3e2;
   color: white;
    border-radius: 30px;;
   
    border:auto;
    height:40px;
    width: 130px;

}
button[type="submit"]:hover {
    background-color:#c3b0c9;
    
    transform:scale(1.1);
}

@media (min-width: 1024px) {
    div {
      width: 30%;
      font-size: 1.5rem;
    }
  }

 
@media (min-width: 768px) and (max-width: 1023px) {
    div {
      width: 50%;
      font-size: 1.2rem;
    }
  }

  
@media (max-width: 767px) {
    div {
      width: 70%;
      font-size: 1rem;
    }
  }