@media(max-width:32.9375rem){
    .Creat-account-heading h1{
       position: relative;
       right: 17rem;
       white-space: nowrap;
    }
    .Creat-account-clarification h2{
      white-space: nowrap;
      position: relative;
      right: 20rem;
    }
    #Creat-account-fname{
      position: relative;
      right: 14rem;
    }
    #Creat-account-lname{
      position: relative;
      right: 30.2rem;
      top: 1rem;
    }
    #Creat-account-Email{
      position: relative;
      top: 2rem;
      right: 14rem;
      width: 20rem;
    }
    #Creat-account-password{
      position: relative;
      right: 14rem;
      width: 20rem;
    }
    #Creat-account-Rpassword{
      position: relative;
      right: 14rem;
      width: 20rem;
      bottom: 2rem;
    }
    .Creat-account-checkbox-container {
      position: relative;
      display: inline-block;
      left: 1rem;
      top: -4rem;
      cursor: pointer;
      
    }
    #Create-account-account{
      margin-left: 0rem;
      margin-top: -2rem;
    }
}

/* media quere */
@media(max-width:77.75rem){
  #Create-account-photo{
    display:none;
  }
}