.main-footer .social-icons a {
    color:white;
    font-size: 2rem;
    margin: 0 15px;
    margin-bottom: 2rem;
    display: inline-block;
    transition: 0.3s;
    text-decoration: none;
    padding: 0 1rem;
    border-radius: 0.7rem;
  }
  
  .main-footer .social-icons a:hover {
    background-color:#ffffff;
    color: #55046b;
    transform: scale(1.1);
  }