.main-footer .main-donation a {
    text-decoration: underline;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    display: inline-block;
    transition: 0.3s;
  }
  
  .main-footer .main-donation a:hover {
    transform: scale(1.1);
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 0 1rem #ffb3ff, 0 0 1rem #ff99ff;
  }  