.forget-password-3rd-pg-center {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.forget-password-3rd-pg-form  {
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
    border: 2px solid #000000;
    border-radius: 8px;
    padding: 40px;
    width: 400px;
    text-align: center;
    background-color: #f2f2f2;
}


.forget-password-3rd-pg-label {
    font-size: 25px;
    color: #000000;
    display: block;
    margin-bottom: 10px;
    font-family: "Lucida Console", "Courier New", monospace; 
    text-align: left;

}

@media (max-width: 768px) { 
    .forget-password-3rd-pg-form {
        width: 90%;
        padding: 20px;
    }

    .forget-password-3rd-pg-label {
        font-size: 18px;
    }

    .forget-password-3rd-pg-input-password {
        padding: 8px;
    }

    .forget-password-3rd-pg-input-submit {
        font-size: 18px;
        width: 100px;
    }
}

@media (max-width: 480px) { 
    .forget-password-3rd-pg-form {
        width: 75%;
    }

    .forget-password-3rd-pg-label {
        font-size: 16px;
    }

    .forget-password-3rd-pg-input-password {
        font-size: 14px;
    }

    .forget-password-3rd-pg-input-submit {
        font-size: 16px;
    }
}