.forget-password-3rd-pg-input-password {
    width: 90%; 
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #D3D3D3;
}
.forget-password-3rd-pg-input-submit {
    width: 150px; 
    padding: 5px;
    background-color: #dac3e2; 
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}
.forget-password-3rd-pg-input-submit:hover {
    background-color: #a39bb1; 
    transform: scale(1.1); 
}