.main-footer {
    background-color: #32013f;
    color: white;
    padding: 3rem 2rem;
    text-align: center;
    direction: rtl;
  }

  .main-footer p {
    font-size: 1rem;
  }
.main-footer .main-donation a {
    text-decoration: underline;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    display: inline-block;
    transition: 0.3s;
  }

  .main-footer .main-donation a:hover {
    transform: scale(1.1);
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 0 1rem #ffb3ff, 0 0 1rem #ff99ff;
  }
.main-footer nav ul {
    list-style: none;
    padding: 1rem;
    margin: 1rem 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .main-footer nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.3s;
    padding: 1rem;
    border-radius: 0.7rem;
    display: inline-block;

  }
.main-footer .social-icons a {
    color:white;
    font-size: 2rem;
    margin: 0 15px;
    margin-bottom: 2rem;
    display: inline-block;
    transition: 0.3s;
    text-decoration: none;
    padding: 0 1rem;
    border-radius: 0.7rem;
  }

  .main-footer .social-icons a:hover {
    background-color:#ffffff;
    color: #55046b;
    transform: scale(1.1);
  }
  .main-footer nav ul li a:hover {
    background-color: #ffffff;
    color: #55046b;
    transform: scale(1.1);
  }