body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.anchor-pane {
    width: 879px;
    height: 649px;
    position: relative;
}

.inner-pane {
    width: 324px;
    height: 263px;
    background-color: rgba(247, 247, 249, 0.267);
    position: absolute;
    top: 177px;
    left: 278px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
}

label {
    margin-bottom: 25px;
    margin-left:25px ;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-size: 17px;
    font-weight: bold;
    font-family: "Lucida Console", monospace; 
}


.text-field {
 
    padding: 5px;
    margin-bottom: 25px;
    background-color: #d3d3d3;
    border: none;
    border-radius: 15px;
    width: 310px;
    height: 30px;
} 


.button {
    color: white;
   
    top: 590px;
    left: 410px;
    padding: 10px 60px;
    background-color: #d6b3f7;
  
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
} 

@media (max-width: 768px) {
    .anchor-pane {
        width: 50%;
        height: auto;
        padding: 10px;
    }

    .inner-pane {
        width: 90%;
        height: auto;
        position: static;
        margin: 0 auto;
    }

    .text-field {
        width: 80%;
    }

    .lable{
       
    }
    .button {
        width: 50%;
        padding: 10px
    }
}
