#Creat-account-Email {
  width: 28.75rem;
  height: 2.5rem;
  margin-left: 11.3rem;
  margin-top: 2rem;
  border-radius: 0.5625rem;
  border: 0.125rem solid darkgray;
  background-color: gainsboro;
  font-size: 1rem;
  margin-bottom: 3.125rem;
  background-image: url(/src/images/email.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 1.875rem 1.875rem;
}
@media(max-width:32.9375rem){
  #Creat-account-Email{
    position: relative;
    top: 2rem;
    right: 14rem;
    width: 20rem;
  }
}
